$red:#d16160;
$main:#f1ede4;
$text: #fafafa;

body, *{
    font-family: 'Open Sans', sans-serif;
}
p {
    margin: 0;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: $red;
    color:$text;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    a {
        color: $text;
        &:hover {
            text-decoration: none;
            color: #e1e1e1;
            transition: 0.3s;
        }
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-right: 20px;
        }
    }
}
.hero {
    display: flex;
    align-items: center;
    background-color: $main;
    color: #c1c1c1;
    height: 100vh;
    text-align: center;
    font-size: 14px;
    h5 {
        color:$red;
    }
    a {
        color: $red;
    }
    &-descr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h5 {
            margin-bottom: 20px;
        }
        i {
            font-size: 25px;
            
        }
        a {
            padding: 5px;
            &:hover {
                text-decoration: none;
                color: #c1c1c1;
                transition: 0.1s;
            }
        }
    }
    .container-fluid {
        
        .col-md-4 {
            padding: 1px !important;
        }
    }

    &-card {
        height: 150px;
        width: 100%;
        background-color: pink;
    }
}
.contact {
    border-top: 1px solid $red;
    &-map {
        margin:30px 0;
    }
}
.footer {
    color: $text;
    height: 60px;
    background-color:$red;
    font-size: 10px;
    display: flex;
    align-items: center;
    a { 
        margin-left: 0 !important;
        color: $text;
        i {
            font-size: 20px;
        }
    }
    .col-md-6 {
        &:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
}