{% extends 'gallery/base.html' %}

{% block content %}
{% load static %}

    <div class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% for post in gallerys %}
                       <a data-fancybox="gallery" href="{{ post.image.url}}">
                           <img src="{{ post.image.url}}">
                       </a>
                       <p>{{ post.title }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}
