{% extends 'gallery/base.html' %}

{% block content %}
{% load static %}
    <div class="price">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="price-block">
                        <b>Укоротить изделие (без подкл.)</b>
                        <div class="price-block-row"><p>Брюки (строчка)</p><span>5.-</span></div>
                        <div class="price-block-row"><p>Брюки (мажеты,вручн.подш.)</p><span>10.-</span></div>
                        <div class="price-block-row"><p>Джинсы (оригин.низ)</p><span>10.-</span></div>   
                        <div class="price-block-row"><p>Юбка (испр.шлицы)</p><span>7.-</span></div>   
                        <div class="price-block-row"><p>Платье (до 1м)</p><span>7.-</span> <p>(от 1м)</p><span>10.-</span></div>     
                        <div class="price-block-row"><p>Блузка</p><span>5.-</span></div>  
                        <div class="price-block-row"><p>Пиджак</p><span>10.-</span></div>  
                        <div class="price-block-row"><p>Куртка (Плащ)</p><span>10.-</span></div>           
                        <div class="price-block-row"><p>Пальто(подкл)</p><span>12.-</span> <p>(шлица)</p><span>14.-</span></div>     
                    </div>
                </div>

                <div class="col-md-6">
                        <div class="price-block">
                            <b>Укоротить изделие (на подкл.)</b>
                            <div class="price-block-row"><p>Брюки (спорт)</p><span>7.-</span></div>
                            <div class="price-block-row"><p>Брюки (лыжню, с молн.)</p><span>13.-</span></div>
                            <div class="price-block-row"><p>Джинсы (пояс)</p><span>13.-</span></div>   
                            <div class="price-block-row"><p>Юбка</p><span>10.-</span></div>   
                            <div class="price-block-row"><p>Платье</p><span>13.-</span> <p>(от 1м)</p><span>10.-</span></div>     
                            <div class="price-block-row"><p>Блузка (плоскош.шов)</p><span>7.-</span></div>  
                            <div class="price-block-row"><p>Пиджак</p><span>13.-</span></div>  
                            <div class="price-block-row"><p>(удлин)</p><span>15.-</span> <p>(шлица)</p><span>12.-</span></div>          
                            <div class="price-block-row"><p>Кожа</p><span>15.-</span> <p>Шуба</p><span>17.-</span></div>   
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="price-block">
                            <b>Рукава укорот./удлин. от</b>
                            <div class="price-block-row"><p>блузка рук.строчка</p><span>5.-</span><p>(плскош.)</p><span>7.-</span></div>  
                            <div class="price-block-row"><p>с манжетами	</p><span>13.-</span></div>          
                            <div class="price-block-row"><p>Пиджак,Куртка,Пальто</p><span>10.-</span></div>   
                            <div class="price-block-row"><p>(Пуховик)</p><span>13.-</span><p>(шлица.)</p><span>13.-</span></div>  
                            <div class="price-block-row"><p>Кожа</p><span>13.-</span><p>Шуба</p><span>13.-</span></div>  
                        </div>
                </div>
                <div class="col-md-12">
                        <div class="price-block">
                            <b>Рукава укорот./удлин. от</b>
                            <div class="price-block-row"><p>блузка рук.строчка</p><span>5.-</span><p>(плскош.)</p><span>7.-</span></div>  
                            <div class="price-block-row"><p>с манжетами	</p><span>13.-</span></div>          
                            <div class="price-block-row"><p>Пиджак,Куртка,Пальто</p><span>10.-</span></div>   
                            <div class="price-block-row"><p>(Пуховик)</p><span>13.-</span><p>(шлица.)</p><span>13.-</span></div>  
                            <div class="price-block-row"><p>Кожа</p><span>13.-</span><p>Шуба</p><span>13.-</span></div>  
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
