$red:#f4bd00;
$main:#fcfafb;
$text: #fafafa;
$dark-text: #111211;

body, *{
    font-family: 'Open Sans', sans-serif;
}
p {
    margin: 0;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: $red;
    color:$text;
    font-size: 13px;
    height: auto;
    line-height: 40px;
    font-weight: 600;
    img {
        width: 24px;

    }
    .dropdown {
        display: none;
    }
    .lang-drop {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 40px;
        background-color: $red;
        width: 100px;
        border-bottom-left-radius: 2px;
    }
    .open-menu {
        display: flex;
    }
    .burger, .close {
        display: none;
        color: #fff !important;
        width: 40px;
    }
    a {
        color: $text;
        &:hover {
            text-decoration: none;
            color: #e1e1e1;
            transition: 0.3s;
        }
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-right: 20px;
        }
    }
    .lang {
        float: right;
        padding-right: 10px;
    }
    .col-md-2 {
        display: flex;
        align-items: center;
    }
    .col-md-9 {
        display: flex;
        align-items: center;
        h1 {
            margin-left: 20%;
        }
    }
}
.hero {
    display: flex;
    align-items: center;
    background-color: $main;
    color: #c1c1c1;
    min-height: 100vh;
    height: auto;
    text-align: center;
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 30px;
    h5 {
        color:$red;
    }
    a {
        color: $red;
    }
    &-descr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h5 {
            margin-bottom: 20px;
        }
        i {
            font-size: 25px;
            
        }
        a {
            padding: 5px;
            &:hover {
                text-decoration: none;
                color: #c1c1c1;
                transition: 0.1s;
            }
        }
    }
    &-tablet {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        ul {
            list-style: none;
            width: 100%;
            padding: 0;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            li {
                padding: 5px;
                margin: 10px 0px;
                border: 1px solid $red;
                border-radius: 2px;
            
            }
        }
    }
    .col-md-3 {
        display: flex;
        align-items: center;
    }
    .container-fluid {
        .col-md-4 {
            padding: 1px !important;
        }
    }
    &-bg {
        position: relative;
        img {
            width: 100%;
        }
        &-block {
            position: absolute;
            opacity: 0.7;
            padding: 20px;
            background-color: $red;
            height: auto;
            width: 50%;
            z-index: 9;
            bottom:20%;
            right: 0;
            color: #fff;
            text-align: right;
            border-radius: 2px;
        }
    }
}
.repair {
    padding: 100px 0;
    color: $dark-text;
    p {
        margin: 15px 0px;
    }
    .col-md-4 {
        img {
            width: 100%;
            border-radius: 2px;
        }
    }
}
.gallery {
    padding: 100px 0px;
    .col-md-3 {
        margin-bottom: 30px;
        height: 100%;
        display: inline;
        img {
            width: 100%;
            height: 175px;
        }
    }
}
.price {
    padding-top: 100px;
    &-block {
        padding: 10px;
        border: 1px solid $red;
        border-radius: 2px;
        margin-bottom: 30px;
        b {
        }
        &-row {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 14px;
            }
            span {
                font-weight: bold;
            }
        }
    }
}
.contact {
    border-top: 1px solid $red;
    &-map {
        margin:30px 0;
    }
    &-infromation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: $dark-text;
        padding: 20px;
        a {
            color: $dark-text;
            &:hover {
                text-decoration: none;
                color: $red;
                transition: 0.3s;
            }
        }
    }
}
.footer {
    color: $text;
    height: 60px;
    background-color:$red;
    font-size: 10px;
    display: flex;
    align-items: center;
    a { 
        margin-left: 0 !important;
        color: $text;
        i {
            font-size: 20px;
        }
    }
    .col-6 {
        &:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media(max-width: 900px) {
    .header {
        .menu {
            display: none;
        }
    }
    .hero {
        
        &-descr {
            display: none;
        }
        &-tablet {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            ul {
                list-style: none;
                width: 100%;
                padding: 0;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                li {
                    padding: 5px;
                    margin: 10px 0px;
                    border: 1px solid $red;
                    border-radius: 2px;
                
                }
            }
        }
    }
}
@media(max-width: 767px) {
    .header {
        height: auto;
        position: relative;
        .logo {
            display: none;
        }
        .burger {
            display: flex;
            width: 24px;
            line-height: 40px;
            cursor: pointer;
        }
        .close, .dropdown {
            line-height: 40px;
            opacity: 100;
            cursor: pointer;
        }
        .dropdown {
            width: 40px;
            display: flex;
            justify-content: flex-end;
        }
        .menu {
            flex-direction: column;
            height: auto;
            ul {
                display: flex;
                flex-direction: column;
                height: auto;
                background-color: $red;
            }
        }
        .lang {
            display: none;
        }
        .col-sm-12 {
            display: flex;
            justify-content: space-between;
        }
    }
    .repair {
        padding: 0;
        .container {
            padding: 100px 250px 100px 100px;
            max-width: 100%;
            background: url(../img/mobile-repair.jpeg) center no-repeat;
            background-size: cover;
        }
        img {
            display: none;
        }
    }
}
@media(max-width: 576px) {
    .hero {
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 12px;
        }
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
    .repair {
        .container {
            padding: 20px 150px 20px 10px;
        }
    }
}