body, * {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: #f4bd00;
  color: #fafafa;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
}

.header img {
  width: 24px;
}

.header .dropdown {
  display: none;
}

.header .lang-drop {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #f4bd00;
  width: 100px;
  border-bottom-left-radius: 2px;
}

.header .open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .burger, .header .close {
  display: none;
  color: #fff !important;
  width: 40px;
}

.header a {
  color: #fafafa;
}

.header a:hover {
  text-decoration: none;
  color: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header ul li {
  margin-right: 20px;
}

.header .lang {
  float: right;
  padding-right: 10px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfafb;
  color: #c1c1c1;
  min-height: 100vh;
  height: auto;
  text-align: center;
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.hero h5 {
  color: #f4bd00;
}

.hero a {
  color: #f4bd00;
}

.hero-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-descr h5 {
  margin-bottom: 20px;
}

.hero-descr i {
  font-size: 25px;
}

.hero-descr a {
  padding: 5px;
}

.hero-descr a:hover {
  text-decoration: none;
  color: #c1c1c1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.hero-tablet {
  display: none;
}

.hero .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container-fluid .col-md-4 {
  padding: 1px !important;
}

.hero-bg {
  position: relative;
}

.hero-bg img {
  width: 100%;
}

.hero-bg-block {
  position: absolute;
  opacity: 0.7;
  padding: 20px;
  background-color: #f4bd00;
  height: auto;
  width: 50%;
  z-index: 9;
  bottom: 20%;
  right: 0;
  color: #fff;
  text-align: right;
  border-radius: 2px;
}

.repair {
  padding: 100px 0;
  color: #111211;
}

.repair p {
  margin: 15px 0px;
}

.repair .col-md-4 img {
  width: 100%;
  border-radius: 2px;
}

.gallery {
  padding: 200px 0px;
}

.contact {
  border-top: 1px solid #f4bd00;
}

.contact-map {
  margin: 30px 0;
}

.contact-infromation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #111211;
  padding: 20px;
}

.contact-infromation a {
  color: #111211;
}

.contact-infromation a:hover {
  text-decoration: none;
  color: #f4bd00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  color: #fafafa;
  height: 60px;
  background-color: #f4bd00;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  margin-left: 0 !important;
  color: #fafafa;
}

.footer a i {
  font-size: 20px;
}

.footer .col-6:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 900px) {
  .header .menu {
    display: none;
  }
  .hero-descr {
    display: none;
  }
  .hero-tablet {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .hero-tablet ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }
  .hero-tablet ul a:hover {
    text-decoration: none;
  }
  .hero-tablet ul li {
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #f4bd00;
    border-radius: 2px;
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
    position: relative;
  }
  .header .logo {
    display: none;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    line-height: 40px;
    cursor: pointer;
  }
  .header .close, .header .dropdown {
    line-height: 40px;
    opacity: 100;
    cursor: pointer;
  }
  .header .dropdown {
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    background-color: #f4bd00;
  }
  .header .lang {
    display: none;
  }
  .header .col-sm-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-tablet {
    display: none;
  }
  .repair {
    padding: 0;
  }
  .repair .container {
    padding: 100px 250px 100px 100px;
    max-width: 100%;
    background: url(../img/mobile-repair.jpeg) center no-repeat;
    background-size: cover;
  }
  .repair img {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero h2 {
    font-size: 18px;
  }
  .hero p {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  #repair {
    padding: 20px 0px;
  }
  img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */